<div class="container">
    <div class="row">
        {{#each model.completedPoolMatches as |match| }}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                                <tr class={{if match.homeWinner 'info'}}>
                                    <td class="col-xs-9">{{match.homePlayer.name}}</td>
                                    <td class="col-xs-3">{{match.homeScore}}</td>
                                </tr>
                                <tr class={{if match.awayWinner 'info'}}>
                                    <td class="col-xs-9">{{match.awayPlayer.name}}</td>
                                    <td class="col-xs-3">{{match.awayScore}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="row">
        {{#each model.scheduledPoolMatches as |match| }}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td class="col-xs-12">{{match.homePlayer.name}}</td>
                            </tr>
                            <tr>
                                <td class="col-xs-12">{{match.awayPlayer.name}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
