<div class="container page-header">
    <h1>{{title}}</h1>
    <nav>
        <ul class="nav nav-tabs">
          {{#link-to "tournaments.complete.matches" tagName="li" href="false"}}
            {{link-to 'Matches' 'tournaments.complete.matches' role='presentation'}}
          {{/link-to}}
          {{#link-to "tournaments.complete.standings" tagName="li" href="false"}}
            {{link-to 'Standings' 'tournaments.complete.standings' role='presentation'}}
          {{/link-to}}
          <a href=""><span {{action 'openModal' 'tournaments/complete/settings'}} class="glyphicon glyphicon-cog pull-right"></span></a>
        </ul>
    </nav>
  {{outlet 'settings'}}
  {{#if model.hasPools}}
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <form class="form">
          <div class="form-group">
            <select value={{pool}} class="form-control" onchange={{action "setFilter" value="target.value"}} id="type-select">
              <option value="0">All Pools</option>
              {{#each model.pools as |pool|}}
                <option value="{{pool}}">Pool {{pool}}</option>
              {{/each}}
            </select>
          </div>
        </form>
      </div>
    </div>
  {{/if}}
<</div>
{{outlet}}
