<div class="container page-header">
    <h1>{{title}}</h1>
    <nav>
        <ul class="nav nav-tabs">
          {{#link-to "tournaments.complete.matches" tagName="li" href="false"}}
            {{link-to 'Matches' 'tournaments.complete.matches' role='presentation'}}
          {{/link-to}}
          {{#link-to "tournaments.complete.standings" tagName="li" href="false"}}
            {{link-to 'Standings' 'tournaments.complete.standings' role='presentation'}}
          {{/link-to}}
          <a href=""><span {{action 'openModal' 'tournaments/complete/settings'}} class="glyphicon glyphicon-cog pull-right"></span></a>
        </ul>
    </nav>
  {{outlet 'settings'}}
</div>
{{outlet}}
