<div class="container page-header">
    <h1>{{title}}</h1>
    <nav>
        <ul class="nav nav-tabs">
          {{#link-to "tournaments.play.matches" tagName="li" href="false"}}
            {{link-to 'Matches' 'tournaments.play.matches' role='presentation'}}
          {{/link-to}}
          {{#link-to "tournaments.play.standings" tagName="li" href="false"}}
            {{link-to 'Standings' 'tournaments.play.standings' role='presentation'}}
          {{/link-to}}
          <a href=""><span {{action 'openModal' 'tournaments/play/settings'}} class="glyphicon glyphicon-cog pull-right"></span></a>
        </ul>
    </nav>
  {{outlet 'settings'}}
</div>
{{outlet}}
<div class="container">
    {{#if model.notStarted}}
        <button {{action "unstart" this}} class="btn btn-primary">Change setup</button>
    {{/if}}
    {{#if model.done}}
        <button {{action "finish" this}} class="btn btn-primary">Finish</button>
    {{/if}}
</div>
