<h3>{{name}}</h3>
<h4>Play!</h4>
<p>{{state}}</p>
<p>{{eventDate}}</p>
<button {{action "unstart"}} class="btn btn-primary">Change setup</button>
<button {{action "finish"}} class="btn btn-primary">Finish</button>
