<div class="page-header">
    <h1>{{title}} <small>Select players</small></h1>
</div>

<form>
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Added players</h3>
                </div>
                <div class="panel-body added-players list-group">
                    {{#each player in players}}
                        <a class="list-group-item" href="#" {{action 'removePlayer' this player}}>
                          {{player.name}}
                        </a>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <p>
                <button {{action "start" this}} class="btn btn-primary">
                    Begin Tournament
                </button>
            </p>
        </div>
    </div>
    <div class="row">
        <ol>
          {{#each player in controllers.players.model}}
              <li><a href="#" {{action "addPlayer" this player}}>{{player.name}}</a></li>
          {{/each}}
        </ol>
    </div>
</form>
