<div class="container">
    <div class="row">
        {{#each model.completedMatches key="@guid" as |match| }}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <table class="table">
                            <tbody>
                                <tr class={{if match.homeWinner 'info'}}>
                                    <td class="col-xs-9">{{match.homePlayer.name}}</td>
                                    <td class="col-xs-3">{{match.homeScore}}</td>
                                </tr>
                                <tr class={{if match.awayWinner 'info'}}>
                                    <td class="col-xs-9">{{match.awayPlayer.name}}</td>
                                    <td class="col-xs-3">{{match.awayScore}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="#" {{action 'undoMatch' match}}>
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="row">
        {{#each model.scheduledMatches key="@guid" as |match| }}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading"></div>
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <td class="col-xs-7">{{match.homePlayer.name}}</td>
                                <td class="col-xs-5">
                                    {{input value=match.homeScore type="number" class="form-control"}}
                                </td>
                            </tr>
                            <tr>
                                <td class="col-xs-7">{{match.awayPlayer.name}}</td>
                                <td class="col-xs-5">
                                    {{input value=match.awayScore type="number" class="form-control"}}
                                </td>
                            </tr>
                        </table>
                        <a href="#" {{action 'completeMatch' match}}>
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
