<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading"></div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-sm-4 col-xs-9"></th>
                            <th class="col-sm-1 col-xs-1">W</th>
                            <th class="col-sm-1 col-xs-1">L</th>
                            <th class="col-sm-1 col-xs-1">T</th>
                            <th class="col-sm-2 hidden-xs">%</th>
                            <th class="col-sm-1 hidden-xs">PF</th>
                            <th class="col-sm-1 hidden-xs">PA</th>
                            <th class="col-sm-1 hidden-xs">+/-</th>
                        </tr>
                    </thead>
                    <tbody id="standings">
                        {{#each model.standings key="@guid" as |row|}}
                            <tr>
                                <td class="col-sm-4 col-xs-9">{{row.name}}</td>
                                <td class="col-sm-1 col-xs-1">{{row.wins}}</td>
                                <td class="col-sm-1 col-xs-1">{{row.losses}}</td>
                                <td class="col-sm-1 col-xs-1">{{row.ties}}</td>
                                <td class="col-sm-2 hidden-xs">{{row.perc}}</td>
                                <td class="col-sm-1 hidden-xs">{{row.pf}}</td>
                                <td class="col-sm-1 hidden-xs">{{row.pa}}</td>
                                <td class="col-sm-1 hidden-xs">{{row.pm}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
